
@model EPROCUREMENT.GAPPROVEEDOR.Entities.Proveedor.ProveedorInformacionFinanciera

@{
    ViewBag.Title = "Información Bancaria - Financiera";
}

    <link href="~/Content/validacionProveedor.css" rel="stylesheet" />
    <div class="row panel-header">
        <div class="col-sm-4 pull-left">
            <img class="gap-logo" src="@Url.GetImage("logo-gap-color.png",false)" />
        </div>

        <div class="col-sm-4 t-a-c ">
            <h1 class="h-title">
                @RHome.ProvP
            </h1>
        </div>

        <div class="col-sm-4">
            <ul class="pull-right" style="list-style:none; float: right; display:none;">
                <li style="display:inline;">
                    <a href="" class="setLang" data-lang="es-MX"><img src="@Url.GetImage("Mexico.png",false)" /></a>
                </li>
                <li style="display:inline;">
                    <a href="" class="setLang" data-lang="en-US"><img src="@Url.GetImage("usa.png", false)" /></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row pb-0">
            <div class="col-sm-12">
                <h3 class="subtitle">
                    @RHome.TitlePP
                </h3>
            </div>
        </div>

        @using (Html.BeginForm("InformacionBF", "AltaProveedor", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(m => m.RFC)
    <div class="formPrincipal">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" style="width:50%">
                <a class="nav-link active" href="#IB" role="tab" data-toggle="tab">Información Bancaria</a>
            </li>
            <li class="nav-item" style="width:50%">
                <a class="nav-link" href="#IF" role="tab" data-toggle="tab">Información Financiera</a>
            </li>
        </ul>
        <div class="tab-content" style="background-color:white; padding: 15px;">
            <div role="tabpanel" class="tab-pane fade in active show" id="IB">
                <div class="col100" style="font-size:14px;">
                    <b>Por favor llena la siguiente información</b>
                </div>
                <div class="col100 mt-2">
                    @Html.HiddenFor(model => model.ProveedorCuentaList[0].IdProveedor)
                    <div class="col25">
                        <div class="inputIF">
                            @Html.Label("cuenta", @RHome.Account, new { @class = "labelTexto control-label" })
                        </div>
                        <div class="inputIF">
                            @Html.TextBoxFor(model => model.ProveedorCuentaList[0].Cuenta, new { @class = "form-control inputIF" })
                        </div>
                    </div>
                    <div class="col25">
                        <div class="inputIF">
                            @Html.Label("banco", @RHome.Bank, new { @class = "labelTexto control-label" })
                        </div>
                        <div class="inputIF">
                            @Html.DropDownListFor(model => model.ProveedorCuentaList[0].IdBanco, new SelectList(ViewBag.BancoList, "IdBanco", "Nombre"), "...", new { @class = "form-control inputIF", @id = "idBanco" })
                        </div>
                    </div>
                    <div class="col25">
                        <div class="inputIF">
                            @Html.Label("clabe", @RHome.CLABE, new { @class = "labelTexto control-label" })
                        </div>
                        <div class="inputIF">
                            @Html.TextBoxFor(model => model.ProveedorCuentaList[0].CLABE, new { @class = "form-control inputIF" })
                        </div>
                    </div>
                    <div class="col25">
                        <div class="inputIF">
                            @Html.Label("tipo", @RHome.Type, new { @class = "labelTexto control-label" })
                        </div>
                        <div class="inputIF">
                            @Html.DropDownListFor(model => model.ProveedorCuentaList[0].IdTipoCuenta, new SelectList(ViewBag.TipoCuentaList, "IdTipoCuenta", "Tipo"), "...", new { @class = "form-control inputIF", @id = "idTipoCuenta" })
                        </div>
                    </div>
                </div>

                <div class="col100 mt-5" style="font-size:14px;">
                    <b>Elige el (o los) aeropuertos que tomará como referencia la cuenta bancaria proporcionada</b>
                </div>
                <div class="col100 mt-3"  style="font-size:12px;">
                    <div class="row">
                        @for (int idx = 0; idx < Model.ProveedorCuentaList[0].AeropuertoList.Count; idx++)
                        {
                            @Html.HiddenFor(model => model.ProveedorCuentaList[0].AeropuertoList[idx].Id)
                            @Html.HiddenFor(model => model.ProveedorCuentaList[0].AeropuertoList[idx].Nombre)
                            <div class="col-sm-4 mt-2">
                                @Html.CheckBoxFor(model => model.ProveedorCuentaList[0].AeropuertoList[idx].Checado)
                                @Html.DisplayTextFor(model => model.ProveedorCuentaList[0].AeropuertoList[idx].Nombre)
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="IF">
                <div class="col100" style="font-size:12px;">
                    @for (int idx = 0; idx < Model.CatalogoDocumentoList.Count; idx++)
                    {
                        <div class="col100 mt-2">
                            <div class="col25">
                                <div class="inputIF">
                                    @Html.DisplayFor(m => m.CatalogoDocumentoList[idx].NombreDocumento)
                                    @Html.HiddenFor(m => m.CatalogoDocumentoList[idx].IdCatalogoDocumento)
                                    @Html.HiddenFor(m => m.CatalogoDocumentoList[idx].IdFormatoArchivo)
                                    @Html.HiddenFor(m => m.CatalogoDocumentoList[idx].IdFormulario)
                                </div>
                            </div>
                            <div class="col25">
                                <input class="text-box single-line" type="file" name="@Html.NameFor(m => m.CatalogoDocumentoList[idx].File)" id="@Html.IdFor(m => m.CatalogoDocumentoList[idx].File)" />
                            </div>
                        </div>
                    }
                </div>
            </div>
            <hr />
        </div>

        <div class="row mt-4">
            <div class="col-sm-6">&nbsp;</div>
            <div class="col-sm-3"><input type="button" value="Cancelar" class="btnStyle btnWhite" /></div>
            <div class="col-sm-3"><input type="submit" value="Enviar" class="btnStyle" /></div>
        </div>
    </div>

        }
    </div>